body {
  background-color: black;
}

.game {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 100vh;
}

* {
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
}

.element-margin {
  margin-top: 50px;
}

.player {
  font-size: 2rem;
  height: full;
  column-span: 1;
}
.playerActive {
  background-color: lightblue;
}

.playerInactive {
  background-color: darkblue;
}

.dice {
  background-color: black;
  column-span: 1;
}

.dicegif {
  max-height: 300px;
  max-width: 300px;
}

.button {
  background-color: blue;
  font-size: 2rem;
  border-radius: 12px;
}
.score {
  font-size: 3rem;
  width: fit-content;
  background-color: blueviolet;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  /* margin: 50px; */
}

.currentScore {
  background-color: blueviolet;
  width: fit-content;
  position: absolute;
  margin-left: 125px;
  margin-right: 125px;
  margin-bottom: 100px;
  padding: 20px;
  bottom: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #b30e89;
  font-size: 4rem;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 4rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
